.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*cache*
/.*_cache
*.pyc
*.pyo
*.swp
__pycache__
*.http
.build
/build
/*.egg-info
/.egg-info
*.egg-info
*egg-info*
/src/*.egg-info
/src/users.egg-info
/dist